<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEFoundation.TextSubstitutionFileTemplateKind</string>
	<key>Description</key>
	<string>A protocol fake for testing.</string>
	<key>Summary</key>
	<string>A protocol fake for testing.</string>
	<key>SortOrder</key>
	<string>21</string>
	<key>AllowedTypes</key>
	<array>
		<string>public.swift-source</string>
	</array>
	<key>DefaultCompletionName</key>
	<string>File</string>
	<key>MainTemplateFile</key>
	<string>___FILEBASENAME___Fake.swift</string>
	<key>Options</key>
	<array>
		<dict>
			<key>Description</key>
			<string>Name of the protocol to fake</string>
			<key>Identifier</key>
			<string>productName</string>
			<key>Name</key>
			<string>Protocol to fake:</string>
			<key>NotPersisted</key>
			<string>Yes</string>
			<key>Required</key>
			<string>Yes</string>
			<key>Type</key>
			<string>text</string>
		</dict>
	</array>
</dict>
</plist>
